:root {
  --mid-gray: #999;
  --blue-gray: #ecf0f1;
  --light-gray: #ccc;
  --pale-blue: #2c3e50;
  --jean-blue: #3b5875;
  --sky-blue: #dff9fb;
  --light-blue: #95afc0;
  --dark-sky-blue: #c7ecee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
